<div class="container">
    <div class="content">
        <div class="row">
            <Label for="search">SEARCH: </Label>
            <div class="row">
                <input id="search" placeholder="filename">
                <input id="search" placeholder="filetype">
                <input type="datetime-local" id="search" placeholder="uploaddate">
            </div>
            <img src="http://127.0.0.1:8000/upload/120825973_3348684908584627_4000278621858019277_o.jpg">
        </div>
    </div>
</div>